<div class="row">
        {{#each allAlbums}}
    <div class="col-md-4">
        <img src={{images.0.url}} alt="{{name}} cover photo" style="height: 300px;"/>
        <div class="albumsDescriptions">
        {{name}}
        <a class="btn btn-danger" href="/tracks/{{id}}">View Tracks</a>
        </div>
    </div>
        {{/each}}
</div>