<div class="row">
    {{#each allArtists}}
    <div class="col-md-4">
       
        <img src={{images.0.url}} alt="{{name}} photo" style="width: 300px;"/>
        <div class="artistDescription">
        <p id="name">{{name}}</p>
        <a class="btn btn-danger" href="/albums/{{id}}">View Albums</a>
        </div>
        
        {{!-- ///albums/someArtistIdGoesHere --}}
          
    </div>
       {{/each}}
</div>





