<div class="frontPage">
    <div class="search">

            <form method="GET" action="/artist-search">
                <input type="text" id="artistSearch" name="artistName">
                <div>
                    
                </div>
                <button type="submit">Search for an Artist</button>

            </form>
        </div>
</div>
        